@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    
    
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0% auto;
   
}



.menuPrincipal {
    background: no-repeat right -50px/45%  url(../img/b.png);
    height: 850px;
    width: 100%;
    margin-bottom: 100px;
    margin: 0%;
}

.main {

    margin: 0 auto;
    width: 0px;
    /*position: relative;*/
   

}

.header1 {
    
    width: 1200px;
    height: 100px;

}

.logo {
    margin-top: -20px;
    margin-left: 220px;
    padding: 42px;
    width: 0px;
    height: 0px;
    margin-right: 1000px;
    object-fit: cover;
    
    
}
nav{
    /*display: flex;*/
    justify-content: space-between;
    margin: auto 100px;
}

ul {
    list-style: none;   
    display:flex;
    margin-left: 120%;
    margin-top: -10px;
    padding: 5px;
}
li{
    margin: 0 15px;
}
a{
    color: white;
    text-decoration: none;
}


.excelencia{
    margin-left: 320px;
   /* max-width: 2000px;*/
    margin-top: 200px;
    

/*position: absolute;*/
width: 650px;
height: 200px;
left: 0px;
top: 0px;

font-family: Raleway;
font-style: normal;
/*font-weight: bold;*/
font-size: 25px;
line-height: 52px;


color: #23242A;


}

.od{
    margin-left: 320px;
    /*max-width: 800px;*/
    margin-top: 300px;


position: absolute;
width: 687px;
height: 64px;
left: 16px;
top: 142px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 32px;


color: #5D5D5D;

}
button{
   font: 'Raleway', sans-serif;
    cursor: pointer;

}

.btn{
   

position: absolute;
width: 260px;
height: 54px;
left: 16px;
top: 256px;



/* Rectangle 3 */

position: absolute;
width: 220px;
height: 54px;
left: 16px;
top: 256px;

background: #173F5F;
border-radius: 6px;


/* Agende pelo WhatsApp */

position: absolute;
width: 260px;
height: 54px;
left: 336px;
top: 640px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.btn2{

    /* Contato */

position: absolute;
width: 260px;
height: 54px;
left: 16px;
top: 256px;



/* Rectangle 3 */

position: absolute;
width: 260px;
height: 54px;
left: 280px;
top: 256px;

background: #FFFFFF;
border: 1px solid #173F5F;
box-sizing: border-box;
border-radius: 6px;


/* Acessar Exames */

position: absolute;
width: 260px;
height: 54px;
left: 700px;
top: 640px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #173F5F;
}
.header2{
    height: 1930px;
    width: 1900px;
    background: no-repeat top url(../img/m.png)  ;
}
.ex{
    /* Nossos Exames e Procedimentos */

position: absolute;
width: 500px;
height: 112px;
left: 670px;
top: 900px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: 56px;
text-align: center;

color: #FFFFFF;


}

.exames{
    display: flex;
}
.exames1{
 /* item */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1029px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1029px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 145px;
left: 340px;
top: 1094px;



/* Telerradiografia */

position: absolute;
width: 340.94px;
height: 36px;
left: 340px;
top: 1094px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 140%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 350px;
top: 1175px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


}
.exames2{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1029px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1029px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 145px;
left: 760px;
top: 1094px;



/* Guia cirúrgico */

position: absolute;
width: 340.94px;
height: 36px;
left: 760px;
top: 1094px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 775px;
top: 1175px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;

}
.exames3{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1029px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1029px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 145px;
left: 1190px;
top: 1094px;



/* Radiografia periapical */

position: absolute;
width: 340.94px;
height: 36px;
left: 1190px;
top: 1094px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
 
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 1200px;
top: 1175px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;



}
.exames4{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1329px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1329px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 145px;
left: 340px;
top: 1394px;



/* Radiografia panorâmica */

position: absolute;
width: 340.94px;
height: 36px;
left: 340px;
top: 1394px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 350px;
top: 1475px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;

}
.exames5{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1329px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1329px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 765px;
top: 1389px;



/* Radiografia oclusal */

position: absolute;
width: 340.94px;
height: 36px;
left: 765px;
top: 1389px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 775px;
top: 1475px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;



}
.exames6{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1329px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1329px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 158px;
left: 970px;
top: 1381px;



/* Radiografia interproximal */

position: absolute;
width: 340.94px;
height: 60px;
left: 1190px;
top: 1381px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100%;
/* or 30px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 1200px;
top: 1475px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames7{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1629px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1629px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 340px;
top: 1689px;



/* Radiografia de Whaters */

position: absolute;
width: 340.94px;
height: 36px;
left: 340px;
top: 1689px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 350px;
top: 1775px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


  
}
.exames8{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1629px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1629px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 765px;
top: 1689px;



/* Radiografia ATM */

position: absolute;
width: 340.94px;
height: 36px;
left: 765px;
top: 1689px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 775px;
top: 1775px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames9{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1629px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1629px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 1190px;
top: 1689px;



/* Escaneamento intraoral */

position: absolute;
width: 340.94px;
height: 36px;
left: 1190px;
top: 1689px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height:250px;
left: 1200px;
top: 1775px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames10{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1929px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 335px;
top: 1929px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 340px;
top: 1989px;



/* Radiografia de Caldwell */

position: absolute;
width: 340.94px;
height: 36px;
left: 340px;
top: 1989px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 120%;
/* identical to box height, or 36px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 350px;
top: 2075px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames11{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1929px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 760px;
top: 1929px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 162px;
left: 765px;
top: 1977px;



/* Modelos ortodônticos 3D */

position: absolute;
width: 340.94px;
height: 60px;
left: 765px;
top: 1977px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100%;
/* or 30px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 775px;
top: 2075px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames12{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1929px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 1185px;
top: 1929px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 162px;
left: 1190px;
top: 1977px;



/* Fotografias odontológicos */

position: absolute;
width: 340.94px;
height: 60px;
left: 1190px;
top: 1977px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100%;
/* or 30px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 1200px;
top: 2075px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames13{
    /* item */

position: absolute;
width: 351px;
height: 250px;
left: 534px;
top: 2229px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 535px;
top: 2229px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 350px;
height: 150px;
left: 534px;
top: 2289px;



/* Tomografia computadorizada de feixe cônico (cone beam) */

position: absolute;
width: 350px;
height: 48px;
left: 534px;
top: 2289px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 100%;
/* or 24px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 550px;
top: 2375px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.exames14{
    /* item */

position: absolute;
width: 350px;
height: 250px;
left: 960px;
top: 2229px;



/* Rectangle 41 */

position: absolute;
width: 350px;
height: 250px;
left: 960px;
top: 2229px;

background: #FFFFFF;
box-shadow: 0px 4px 24px 5px rgba(0, 0, 0, 0.15);
border-radius: 8px;


/* Group 509 */

position: absolute;
width: 340.94px;
height: 150px;
left: 965px;
top: 2289px;



/* Documentações ortodônticas */

position: absolute;
width: 340.94px;
height: 60px;
left: 965px;
top: 2289px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 100%;
/* or 30px */
text-align: center;
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;



/* Vitae nulla nunc euismod vel nunc euismod velpretium tellus accumsan nulla nunc euismod ve semper. */

position: absolute;
width: 350px;
height: 250px;
left: 975px;
top: 2375px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 130%;
/* or 21px */
text-align: center;
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;


    
}
.equipamentos{
    height: 517px;
    width: 1500px;
    margin-left: 200px;
    background:no-repeat right top url(../img/cod.png);
    background-color: #C4C4C4;
    border-radius: 15px;
}


.gallery{
   /* width: 1000px;
    height: 1000px;*/
    background: no-repeat url(../img/ga.png);
    position: absolute;
    width: 500px;
    height: 401px;
    left: 375px;
    top: 2845px;
}
.escri{
    /* Nossos Equipamentos */

position: absolute;
width: 580px;
height: 54.85px;
left: 740px;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 34px;
/* line-height: 110%;
/* or 48px 
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;

}

.escri2{
     /* Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus. Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus. */

position: absolute;
width: 460.85px;
height: 277px;
left: 740px;
top: 120px;

/* Text / Medium Text */
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 130%;
/* or 31px */
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;
}
.clinica{
    /* A Clínica */

position: absolute;
width: 580.97px;
height: 49px;
left: 222px;
top: 3532px;

font-family: Raleway;
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 49px;

color: #23242A;
}
.clinica2{
    /* Localizada no Sul da Ilha, com fácil acesso e estacionamento gratuito, a Codimagem busca proporcionar agilidade e praticidade ao oferecer exames de alta complexidade, com imagens de altíssima resolução, para diagnósticos precisos. Com o intuito de oferecer os melhores serviços, contamos com uma equipe altamente qualificada e em permanente atualização. */

position: absolute;
width: 680.97px;
height: 196px;
left: 222px;
top: 3700px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* or 156% */

color: #000000;
}

.maps{
    position: absolute;
    height: 587px;
    width: 485px;
    right: 230px;
    top: 3500px;
}
.resultados{
    margin-top: 930px;
    margin: center;
    height: 451px;
    width: 1450px;
    margin-left: 230px;
    background:no-repeat top right url(../img/cod.png);
    background-color: #d1d9df;
    border-radius: 15px;
}



.resultados1{
    /* Resultados de Exames */

position: absolute;
width: 785.22px;
height: 54.85px;
left: 335.61px;
top: 4238.72px;
padding: 25px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 120%;
/* or 48px */
letter-spacing: -0.03em;

/* Base/Black */
color: #23242A;
}
.resultados2{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus. */

position: absolute;
width: 585px;
height: 114px;
left: 360px;
top: 4364px;

font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 130%;
/* or 31px */
letter-spacing: -0.02em;

/* Base/Black */
color: #23242A;
}
.btnn{
position: absolute;
width: 260px;
height: 54px;
left: 16px;
top: 306px;

/* Rectangle 3 */

position: absolute;
width: 289px;
height: 65px;
left: 16px;
top: 306px;

background: #173F5F;
border-radius: 10px;


/* Agende pelo WhatsApp */

position: absolute;
width: 239px;
height: 15px;
left: 950px;
top: -50px;
padding: 25px;

font-family: Raleway;
font-style: none;
font-weight: 600;
font-size: 22px;
line-height: 19px;
color: #FFFFFF;   
text-align: center;
}

.btnn2{
    position: absolute;
    width: 260px;
    height: 54px;
    left: 16px;
    top: 316px;
    
    
    
    /* Rectangle 3 */
    
    position: absolute;
    width: 289px;
    height: 65px;
    left: 16px;
    top: 316px;
    
    background: #173F5F;
    border-radius: 10px;
    
    
    /* Agende pelo WhatsApp */
    
    position: absolute;
    width: 239px;
    height: 15px;
    left: 950px;
    top: 50px;
    padding: 25px;
    
    font-family: Raleway;
    font-style: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 19px;
    color: #FFFFFF;
}
.logof{
    /* Rectangle 18 */

position: absolute;
width: 1900px;
height: 350px;
left: 0px;
top: 4773px;
background: #2A4C68;
}
.logof2{
    padding: 150px;
    margin-top: 10px;
}
.logof3{
    padding: 0px;
    margin-top: -185px;
    margin-left: 270px;
}
.logof4{
    margin-top: -160px;
    margin-left: 130px;
}
.flo{
    /* Florianópolis */

position: absolute;
width: 150px;
height: 22px;
left: 648px;
top: 50px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 22px;
/* identical to box height, or 92% */

color: #FFFFFF;

}
.av{
    /* Av. Pequeno Príncipe, 1482 Sala 11/12 – Campeche Florianópolis – SS */

position: absolute;
width: 230px;
height: 66px;
left: 648px;
top: 100px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* or 137% */

color: #FFFFFF;


}
.numero{
    /* (48) 3028 9852 (48) 9 9110 6222 codimagemsc@gmail.com */

list-style: none;
position: absolute;
width: 260px;
height: 66px;
left: 1020px;
top: 110px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* or 122% */

color: #FFFFFF;
}
.numero1{
list-style: none;
position: absolute;
width: 260px;
height: 66px;
left: 1020px;
top: 135px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* or 122% */

color: #FFFFFF;

}
.numero2{
list-style: none;
position: absolute;
width: 260px;
height: 66px;
left: 1020px;
top: 160px;

font-family: Raleway;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* or 122% */

color: #FFFFFF;

}
.wh{
    margin-left: 220px;
    margin-top: -60px;
   
}

.btnn3{
    /* Button Primary */


position: absolute;
width: 249px;
height: 92px;
left: 7px;
top: 4724px;

background: #40C351;
border-radius: 8px;


/* Agendar pelo whatsapp */

position: absolute;
width: 249px;
height: 20px;
left: 1344.5px;
top: 106px;
padding: 20px;


font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */
align-items: center;
text-align: center;
letter-spacing: -0.03em;

/* Base/Light */
color: #FFFFFF;

}
.hr{
    margin-top: 150px;
    width: 1600px;
    margin-left: 95px;
}
.cod{
    /* 2021 © Codimagem */

position: absolute;
width: 111px;
height: 22px;
left: 100px;
top: 270px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

color: #FFFFFF;
}
.cod1{
    /* Criado por: UPNOW */

position: absolute;
width: 112px;
height: 22px;
left: 1589px;
top: 270px;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

color: #FFFFFF;


}








